@font-face {
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Square'), local('NovaSquare'), url(http://themes.googleusercontent.com/static/fonts/novasquare/v6/YsNHj2Yx5KzHzIjNe-czdIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
.chessboard {
  font-weight: 600;
  font-family: 'Nova Square';
  display: inline-block;
  font-size: 200px;
}
.chessboard .slice {
  color: green;
  background-color: #FFF;
  transition: background-color 2s;
}
.chessboard:hover .slice {
  background-color: #000;
}
.chessboard .slice[class*=column-1]:nth-of-type(odd),
.chessboard .slice[class*=column-3]:nth-of-type(odd),
.chessboard .slice[class*=column-5]:nth-of-type(odd),
.chessboard .slice[class*=column-7]:nth-of-type(odd),
.chessboard .slice[class*=column-2]:nth-of-type(even),
.chessboard .slice[class*=column-4]:nth-of-type(even),
.chessboard .slice[class*=column-6]:nth-of-type(even),
.chessboard .slice[class*=column-8]:nth-of-type(even) {
  background-color: #000;
}
.chessboard:hover .slice[class*=column-1]:nth-of-type(odd),
.chessboard:hover .slice[class*=column-3]:nth-of-type(odd),
.chessboard:hover .slice[class*=column-5]:nth-of-type(odd),
.chessboard:hover .slice[class*=column-7]:nth-of-type(odd),
.chessboard:hover .slice[class*=column-2]:nth-of-type(even),
.chessboard:hover .slice[class*=column-4]:nth-of-type(even),
.chessboard:hover .slice[class*=column-6]:nth-of-type(even),
.chessboard:hover .slice[class*=column-8]:nth-of-type(even) {
  background-color: #FFF;
}
